<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

   <!-- 変数定義 -->
   <property name="LOG_DIR" value="R:/log/JavaSample" />
   <property name="PATTERN"
      value="%d{yyyy-MM-dd HH:mm:ss} %-5level: [%logger:%L][%M] - %msg - [%t]%n" />

   <!-- ログ・コンソール出力 -->
   <appender name="STOUT"
      class="ch.qos.logback.core.ConsoleAppender">
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>TRACE</level>
      </filter>
      <encoder>
         <charset>UTF-8</charset>
         <pattern>${PATTERN}</pattern>
      </encoder>
   </appender>

   <!-- 全ログ -->
   <appender name="ALL"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIR}/all.log</file>
      <rollingPolicy
         class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
         <fileNamePattern>${LOG_DIR}/all.log.%i.log</fileNamePattern>
         <minIndex>0</minIndex>
         <maxIndex>9</maxIndex>
      </rollingPolicy>
      <triggeringPolicy
         class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
         <maxFileSize>500KB</maxFileSize>
      </triggeringPolicy>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>ALL</level>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>ACCEPT</onMismatch>
      </filter>
      <encoder>
         <pattern>${PATTERN}</pattern>
      </encoder>
   </appender>

   <!-- TRACEログ -->
   <appender name="TRACE"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIR}/trace.log</file>
      <rollingPolicy
         class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${LOG_DIR}/trace-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>7</maxHistory>
      </rollingPolicy>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>TRACE</level>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>DENY</onMismatch>
      </filter>
      <encoder>
         <charset>UTF-8</charset>
         <pattern>${PATTERN}</pattern>
      </encoder>
   </appender>

   <!-- DEBUGログ -->
   <appender name="DEBUG"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIR}/debug.log</file>
      <rollingPolicy
         class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${LOG_DIR}/debug-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>7</maxHistory>
      </rollingPolicy>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>DEBUG</level>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>DENY</onMismatch>
      </filter>
      <encoder>
         <charset>UTF-8</charset>
         <pattern>${PATTERN}</pattern>
      </encoder>
   </appender>

   <!-- INFOログ -->
   <appender name="INFO"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIR}/info.log</file>
      <rollingPolicy
         class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${LOG_DIR}/info-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>7</maxHistory>
      </rollingPolicy>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>INFO</level>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>DENY</onMismatch>
      </filter>
      <encoder>
         <charset>UTF-8</charset>
         <pattern>${PATTERN}</pattern>
      </encoder>
   </appender>

   <!-- WARNログ -->
   <appender name="WARN"
      class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIR}/warn.log</file>
      <rollingPolicy
         class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${LOG_DIR}/warn-%d{yyyyMMdd}.log</fileNamePattern>
         <maxHistory>7</maxHistory>
      </rollingPolicy>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>WARN</level>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>DENY</onMismatch>
      </filter>
      <encoder>
         <charset>UTF-8</charset>
         <pattern>${PATTERN}</pattern>
      </encoder>
   </appender>

   <!-- ERRORログ -->
   <appender name="ERROR"
      class="ch.qos.logback.core.FileAppender">
      <file>${LOG_DIR}/error.log</file>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>ERROR</level>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>DENY</onMismatch>
      </filter>
      <encoder>
         <charset>UTF-8</charset>
         <pattern>${PATTERN}</pattern>
      </encoder>
   </appender>

   <!-- ロガー・root設定 -->
   <root level="ALL">
      <appender-ref ref="STOUT" />
      <appender-ref ref="ALL" />
      <appender-ref ref="TRACE" />
      <appender-ref ref="DEBUG" />
      <appender-ref ref="INFO" />
      <appender-ref ref="WARN" />
      <appender-ref ref="ERROR" />
   </root>

   <!-- ロガー・パッケージ別設定 -->
   <logger name="net.solutions.aristo" additivity="true"
      level="INFO" />
   <logger name="org.springframework" additivity="true"
      level="WARN" />
   <logger name="javax.management" additivity="true"
      level="WARN" />

</configuration>
